<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Core Software</title>
</head>
<body>
    <div class="container">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}
            
        <form method="post" action="{{ url_for('edit_core_software_form_list', id=record['id']) }}">
            <h1>Edit Core Software</h1>
            <label for="coresoftware">Core Software</label>
            <input type="text" id="coresoftware" name="coresoftware" value="{{ record['core_software']}}" required>

            <label for="module">Module</label>
            <input type="number" id="module" name="module" value="{{ record['modules']}}" required>

            <button type="submit" class="btn4 btn-primary">Update</button>
            <a href="{{ url_for('core_software_form_list') }}" class="btn3 btn-danger">Cancel</a>
        </form>
    </div>
</body>
</html>