<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocords Listng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Rocords Listng</h1><br>
    <div class="btn-container">
        <a href="/budget_list" class="btn6 btn-success btn-lg btn-block">1️⃣ Budget List</a>
        <a href="/item_list" class="btn6 btn-primary btn-lg btn-block">2️⃣ Items List</a>
        <a href="/procurement_item_list" class="btn6 btn-default btn-lg btn-block">3️⃣ Procurement Item List</a>
        <a href="/repair_maintenance_list" class="btn6 btn-warning btn-lg btn-block">4️⃣ Repair List</a>
    </div>
</body>
</html>