<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Records Listing</title>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <h1>Records Listing</h1>

   <div class="btn-container">
      <a href="/dashboard" class="btn6 button blue"><span>1</span> Dashboard</a>
      <a href="/financial_year_list" class="btn6 button orange"><span>2</span> Financial Year List</a>
      <a href="/budget_list" class="btn6 button green"><span>3</span> Budget List</a>
      <a href="/procurement_item_list" class="btn6 button darkblue"><span>4</span> Procurement Item List</a>
   </div>

   <div class="btn-container">
      <a href="/repair_maintenance_list" class="btn6 button red"><span>5</span> Repair List</a>
      <a href="/item_list" class="btn6 button lightblue"><span>6</span> Items List</a>
      <a href="/complaints_list" class="btn6 button yellow"><span>7</span> Complaints List</a>
      <a href="/store_item_list" class="btn6 button purple"><span>8</span> Store Items List</a>
   </div>

   <div class="btn-container">
      <a href="/uploding_list" class="btn6 button pisky"><span>9</span> Uploading List</a>
      <a href="/softwareform_list" class="btn6 button taaty"><span>10</span> Software Activities List</a>
      <a href="/core_software_form_list" class="btn6 button black"><span>11</span> Core Software List</a>
      <a href="/softwarecomplainet_list" class="btn6 button red"><span>12</span> Software Complainet List</a>
   </div>

   <div class="btn-container">
      <a href="/meetingform_list" class="btn6 button yellow"><span>13</span> Meetings List</a>
      <a href="/networkform_list" class="btn6 button gray"><span>14</span> Network Items List</a>
      <a href="/pmisreport_list" class="btn6 button silver"><span>15</span> PMIS List</a>
      <a href="/summarisereport_list" class="btn6 button darkgray"><span>16</span> Summarize List</a>
   </div>

   <div class="btn-container">
      <a href="{{ url_for('login') }}" class="btn6 button black"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
   </div>

</body>
</html>