<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Meeting Data Form</title>
   </head>
   <body>
      <div class="container1">
         <form method="post" action="/meetingform">
            <h1>Meeting Data Form</h1>
            <!-- Messages -->
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success">{{ success }}</div>
            {% endif %}
            <div class="form-group">
               <label for="sections">Sections:</label>
               <input type="text" id="sections" name="sections" class="form-control" placeholder="Enter Section" required>
            </div>
            <div class="form-group">
               <label for="meeting">Meetings:</label>
               <input type="number" id="meeting" name="meeting" class="form-control" placeholder="Enter Meeting " required>
            </div>
            <div class="form-group">
               <label for="internal">Internal:</label>
               <input type="number" id="internal" name="internal" class="form-control" placeholder="Enter Internal " required>
            </div>
            <div class="form-group">
               <label for="external">External:</label>
               <input type="number" id="external" name="external" class="form-control" placeholder="Enter External " required>
            </div>
            <div class="form-group">
               <label for="hoursspend">Hours Spend:</label>
               <input type="number" id="hoursspend" name="hoursspend" class="form-control" placeholder="Enter Hours Spend " required>
            </div>
            <div class="form-group">
               <label for="remarks">Remarks:</label>
               <textarea name="remarks" id="remarks" class="form-control" placeholder="Enter Remarks" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
   </body>
</html>