<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Networks</title>
</head>
<body>
    <div class="container5">
        <form method="post" action="/networks">
            <h1>Network</h1>
            <label for="item">Item</label>
            <input type="text" id="item" name="item" placeholder="Enter Item Name " required>

            <label for="downitem">Down Item</label>
            <input type="number" name="downitem" id="downitem" placeholder="Enter Down Item" required>

            <label for="remarks">Remarks</label>
            <textarea name="remarks" id="remarks" placeholder="Enter Remarks" required></textarea>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>