<!DOCTYPE html>
<html>
   <head>
      <title>Pagination</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="{{ url_for('static', filename='main.js') }}" defer></script>
   </head>
   <body>
      <!-- pagination.html -->
      <nav aria-label="Page navigation">
         <ul class="pagination" id="pagination"></ul>
      </nav>
   </body>
</html>