<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PMIS Report</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/pmisreport">
            <h1>PMIS Report</h1>
            <label for="totalpackages">Total Packages</label>
            <input type="number" id="totalpackages" name="totalpackages" placeholder="Enter Total Packages" required>
            <br>
            <label for="monthlyprogress">Monthly Progress</label>
            <input type="number" name="monthlyprogress" id="monthlyprogress" placeholder="Enter Monthly Progress" required>
            <br>
            <label for="dronevideo">Drone Video</label>
            <input type="number" name="dronevideo" id="dronevideo" placeholder="Enter Drone Video" required>
            <br>
            <button type="submit" class="btn1 btn-success">Submit</button>

        </form>
    </div>
</body>
</html>