<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <title>PMIS Data</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h2>PMIS Records</h2>


    <button class="btnn btn-primary"><a href="/pmisreport">Add New PMIS Data</a></button>

    <table class="table3" border="1">
        <tr>
            <th>S. #</th>
            <th>Total Packages</th>
            <th>Monthly Progress</th>
            <th>Progress Percentage %</th>
            <th>Drone Video</th>
            <th>Drone Video Percentage %</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ record['total_packages']}}</td>
            <td>{{ record['monthly_progress']}}</td>
            <td>{{ record['progress_percentage']}} (%)</td>
            <td>{{ record['drone_video']}}</td>
            <td>{{ record['drone_video_percentage']}} (%)</td>
             <td>
                <div class="action-buttons">
                    <a href="/edit_pmisreport_list/{{ record['id'] }}" class="icon-button edit" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="/delete_pmisreport_list/{{ record['id'] }}" method="POST" onsubmit="return confirmDelete();">
                        <button type="submit" class="icon-button delete" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% else %}
        {% endfor %}
    </table>
</body>
</html>