<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Software Complaints Form</title>
</head>
<body>
    <div class="container5">
        <form  method="post" action="/softwarecomplainet">
            <h1>Software Complaints Form</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}
            
            <label for="softwares">Software's Name:</label>
            <input type="text" name="softwares" id="softwares" placeholder="Enter Software Name" required>
    
            <label for="remarks">Description:</label>
            <textarea id="remarks" name="remarks" placeholder="Description" required></textarea>
    
            <label for="totalcomplaints"> Total Complaints:</label>
            <input type="number" id="totalcomplaints" name="totalcomplaints" placeholder="Enter Total Complaints" required>
    
            <label for="resolved">Resolved:</label>
            <input type="number" id="resolved" name="resolved" placeholder="Enter Resolved" required>
     
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>