<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Software Activities</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/softwareform">
            <h1>Software</h1>
            <label for="activities">Activities</label>
            <input type="text" id="activities" name="activities" placeholder="Enter Activity Name" required>
            <br>
            <label for="No.ofSoftware">No.of Software's under Development</label>
            <input type="number" id="No.ofSoftware" name="No.ofSoftware" placeholder="Enter No.of Software" required>
            <br>
            <label for="No.ofteamMember">No.of Team Member</label>
            <input type="number" id="No.ofteamMember" name="No.ofteamMember" placeholder="Enter No.of Team Member" required>
            <br>
            <label for="workinghours"> Working Hours During the Month</label>
            <input type="number" id="workinghours" name="workinghours" placeholder="Enter Working Hours" required>
            <br>
            <button type="submit" class="btn1 btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>