<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Software Complaints Form</title>
   </head>
   <body>
      <div class="container1">
         <form  method="post" action="/softwarecomplainet">
            <h1>Software Complaints Form</h1>
      <!-- Error messages -->
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <!-- Success messages -->
      {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
         {% endfor %}
         {% endif %}
      {% endwith %}
      
            <div class="form-group">
               <label for="softwares">Software's Name:</label>
               <input type="text" name="softwares" id="softwares" class="form-control" placeholder="Enter Software Name" required>
            </div>
            <div class="form-group">
               <label for="remarks">Description:</label>
               <textarea id="remarks" name="remarks" class="form-control" placeholder="Description" required></textarea>
            </div>
            <div class="form-group">
               <label for="totalcomplaints"> Total Complaints:</label>
               <input type="number" id="totalcomplaints" name="totalcomplaints" class="form-control" placeholder="Enter Total Complaints" required>
            </div>
            <div class="form-group">
               <label for="resolved">Resolved:</label>
               <input type="number" id="resolved" name="resolved" class="form-control" placeholder="Enter Resolved" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
   </body>
</html>