<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Software Complaints</title>
</head>
<body>
    <div class="container5">
        <form  method="post" action="/softwarecomplaint">
            <h1>Softwares Details</h1>
            <label for="softwares">Software's</label>
            <input type="text" name="softwares" id="softwares" placeholder="Enter Software Name" required>
            <br>
            <label for="remarks">Description:</label>
            <textarea id="remarks" name="remarks" placeholder="Description" required></textarea>
            <br>
            <label for="totalcomplaints"> Total Complaints</label>
            <input type="number" id="totalcomplaints" name="totalcomplaints" placeholder="Enter Total Complaints" required>
            <br>
            <label for="resolved">Resolved</label>
            <input type="number" id="resolved" name="resolved" placeholder="Enter Resolved" required>
            <br> 
            <button type="submit" class="btn1 btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>