<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Summarise Report</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/summarisereport">
            <h1>Summarise Report</h1>
            <label for="procurement">Procurement Activities</label>
            <input type="text" name="procurement" id="procurement" placeholder="Enter Procurement Activities Name" required>
            <br>
            <label for="availablehours">Available Hours</label>
            <input type="number" name="availablehours" id="availablehours" placeholder="Enter Available Hours" required>
            <br>
            <label for="workingstrength">Working Strength</label>
            <input type="number" name="workingstrength" id="workingstrength" placeholder="Enter Working Strength" required>
            <br>
            <label for="hoursworked">Hours Worked</label>
            <input type="number" name="hoursworked" id="hoursworked" placeholder="Enter Hours Worked " required>
            <br>
            <button type="submit" class="btn1 btn-success">Submit</button>
        </form>
    </div>
</body>
</html>