<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <title>Uploading Tenders Data</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h2>Uploading Tenders Records</h2>
    <h1><p>MIS Section has uploaded the following on NHA & PPRA Websites in the month of June, 2025: </p></h1>

    <button class="btnn btn-primary"><a href="/uploding_form">Add New Upload Detail</a></button>

<table class="table3" border="1">
    <thead>
        <tr>
            <th rowspan="2">S. #</th>
            <th colspan="3">Particulars</th>
            <th colspan="3">Reserve Person</th>
            <th rowspan="2">Month</th>
            <th rowspan="2">Month</th>
            <th rowspan="2">Total Hrs Spent</th>
            <th rowspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ loop.index }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="action-buttons">
                    <a href="/edit_/{{ record['id'] }}" class="icon-button edit" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="/delete_/{{ record['id'] }}" method="POST" onsubmit="return confirmDelete();">
                        <button type="submit" class="icon-button delete" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>