<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Uploding</title>
</head>
<body>
    <div class="container">
        <h1>Tender & Uploding Details</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}
        <form method="post" action="/uploding_form" >
            
            <label for="particulars">Particulars:</label>
            <input type="text" name="particulars" id="particulars" placeholder="Enter Particulars Name" required>

            <label for="res_person">Reserve Person:</label>
            <input type="number" name="res_person" id="res_person" placeholder="Enter Reserve Person" required>

            <label for="previous_month">Previous Month:</label>
            <input type="month" name="previous_month" id="previous_month" required>
            <input type="number" name="previous_month_quantity" id="previous_month_quantity" placeholder="Quantity" required>

            <label for="current_month">Current Month:</label>
            <input type="month" name="current_month" id="current_month" required>
            <input type="number" name="current_month_quantity" id="current_month_quantity" placeholder="Quantity" required>

            <label for="hoursspend">Total Hours Spend:</label>
            <input type="number" name="hoursspend" id="hoursspend" placeholder="Enter Hours Spend" required>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>